.divBanner {
    color: DodgerBlue;
    width: 100%;
    color: #01070c;
    text-align: left;
    background-color:#01070c;
  }

  .pHome {
    color: rgb(3, 3, 61);
    text-indent: 12px;
    text-transform:none;
    font-family:'Arial Rounded MT Bold','Helvetica Now', 'Courier New', Courier, monospace;
    font-size:14px;
  }

  .hTitle {
    color: rgb(116, 3, 3);
    text-indent: 0px;
    font-family:'Arial Rounded MT Bold','Helvetica Now','Courier New', Courier, monospace;
    font-size:20px
  }

  
 
